.pricing .pricing-price .custom-heading,
.pricing .pricing-price .custom-heading+p {
    color: #fff;
}

.pricing .pricing-price .custom-heading::before,
.pricing .pricing-price .custom-heading::after {
    background-color: #fff;
}

.pricing .pricing-price {
    width: 100%;
    padding: 70px 0;
    background-image: url('/public/assets/images/background/bg-pricing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.pricing .pricing-price .row>div div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 20px 0;
    margin-bottom: 30px;
    background-color: #fff;
}

.pricing .pricing-price .row>div:last-child div {
    /* margin-bottom: 0; */
}

.pricing .pricing-price .row>div div svg {
    font-size: 90px;
    color: var(--light-rose);
}

.pricing .pricing-price .row>div div h6 {
    margin-top: 25px;
    font-size: 23px;
}

.pricing .pricing-price .row>div div strong {
    font-size: 45px;
}

.pricing .pricing-price .row>div div p {
    font-size: 17px;
    color: #999;
}

.pricing .pricing-price .row>div div ul {
    text-align: left;
    margin-bottom: 0;
    list-style: none;
}

.pricing .pricing-price .row>div div ul li {
    position: relative;
}

.pricing .pricing-price .row>div div ul li svg {
    position: absolute;
    font-size: 12px;
    top: 7px;
    left: -16px;
    color: var(--light-rose);
}

/* ============================== pricing ends */

/* guideline starts ============================== */
.guideline {
    padding: 70px 0;
}

.guideline .guideline-content {
    margin-top: 45px;
}

.guideline .guideline-content .row>div:first-child div {
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.guideline .guideline-content .row>div:last-child div h6 {
    margin-top: 35px;
    font-size: 22px;
    font-weight: 600;
}

.guideline .guideline-content .row>div:last-child div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.guideline .guideline-content .row>div:last-child div ul i {
    font-size: 12px;
    margin-right: 3px;
}

/* guideline ends ============================== */

/* ============================== latest news starts */
.latest-news .latest-news-content {
    margin-top: 50px;
}

.latest-news .latest-news-content .row>div .card {
    margin-bottom: 25px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.latest-news .latest-news-content .row>div .card .img-handler {
    height: 230px;
    overflow: hidden;
}

.latest-news .latest-news-content .row>div .card .img-handler img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.latest-news .latest-news-content .row>div .card:hover .img-handler img {
    transform: scale(1.2);
}

.latest-news .latest-news-content .row>div .card .card-body {
    position: relative;
}

.latest-news .latest-news-content .row>div .card .card-body h5 {
    position: absolute;
    top: -14px;
    padding: 7px 20px;
    font-size: 15px;
    background-color: #fff;
    color: var(--light-rose);
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .3);
}

.latest-news .latest-news-content .row>div .card .card-body p {
    margin-top: 20px;
    font-size: 25px;
}

.latest-news .latest-news-content .row>div .card .card-body div {
    color: #999;
}

.latest-news .latest-news-content .row>div .card .card-body div a {
    color: inherit;
}

.latest-news .latest-news-content .row>div .card .card-body div a:hover {
    color: var(--light-rose);
}

/* ============================== latest news ends */

/* newsletter STARTS ============================== */
.newsletter {
    background-color: var(--light-gray);
    padding: 90px 0;
    margin-top: 50px;
}

.newsletter form {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.newsletter h3 {
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

.newsletter input {
    width: 75%;
    padding: 8px 8px 8px 15px;
    border: 1px solid var(--light-rose);
    outline: none;
}

.newsletter button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    width: 25%;
    padding: 8px 0;
    background-color: var(--light-rose);
    color: #fff;
    border: 1px solid var(--light-rose);
    border-left: none;
    outline: none;
    cursor: pointer;
}

.newsletter button i {
    margin-right: 8px;
}